<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here are awesome quotes</h1>
    @{
        foreach(var quote in ViewBag.quotes){
            <p>"@quote["quote"]"</p>
            <p>_@quote["author"] at @quote["created_at"].ToString("h:mm tt MMMM d, yyy")</p>
        }
    }
</body>
</html>
